<%- include('partials/header.ejs') %>

<div class="min-vh-100">
  <div class="container my-5">
    <div class="row flex-row justify-content-evenly">
      
      <!-- Main Blog Content -->
      <div class="content col-12 col-xxl-8 col-xl-8 p-4">
        <% if (posts.length === 0) { %>
          <div class="text-center">
            <h3>So empty here... 😟</h3>
          </div>
        <% } else { %>
          <div class="row gy-4">
            <% posts.forEach((post) => { %>
              <div class="col-12">
                <div class="blog-box p-4">
                  <p class="fs-6 fw-light"><%= post.date %></p>
                  <h3 class="fs-2 pt-serif blog-title"><a href="/view/<%= posts.indexOf(post) %>"><%= post.title %></a></h3>
                  <p class="fs-5 mt-3"><%= post.content %></p>
                </div>
              </div>
            <% }); %>
          </div>
        <% } %>
      </div>

      <!-- Sidebar -->
      <div id="aside" class="content col-3 d-none d-lg-none d-md-none d-sm-none d-xl-block">
        <div class="text-center my-4">
          <a href="/create"><button class="btn custom-btn fs-5 btn-lg button-rad" style="width: 90%;">Create Post</button></a>
        </div>
        <% if (posts.length === 0) { %>
          <div class="text-center">
            <p>No posts yet...</p>
          </div>
        <% } else { %>
          <div class="px-3">
            <p class="recent-heading">RECENT POSTS</p>
            <ul class="p-0">
              <% posts.forEach((post) => { %>
                <li>
                  <h3 class="fs-6 pt-serif"><a class="recent-link" href="/view/<%= posts.indexOf(post) %>"><%= post.title %></a></h3>
                  <hr>
                </li>
              <% }); %>
            </ul>
          </div>
        <% } %>
      </div>

    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>
